* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
    color: rgb(69, 69, 69);
}

header {
    max-width: 100%;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colmar-logo {
    display: flex;
    align-items: center;
}

.colmar-img{
    height: 32px;
}

header span {
    color: rgb(142, 142, 142);
    font-size: 20px;
    font-weight: 400;
}

header span strong {
    color: rgb(40, 40, 40);
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 16px;
}

nav a {
    text-decoration: none;
}

/*
Header icons are hidden in desktop view
*/
@media only screen and (min-width: 800px) {
    .icon {
        display: none;
    }
}

/*
Header on mobile devices
*/
@media only screen and (max-width: 800px) {
    header span, nav {
        display: none;
    }
}

.hero {
    width: 100%;
    background-color: rgb(233, 233, 233);
}

.hero-content {
    margin: 0 auto;
    padding: 32px 24px;
    display: flex;
    max-width: 1200px;
    align-items: center;
}

.hero-image {
    width: 60%;
}

.hero-text {
    width: 40%;
    padding-left: 24px;
}

.hero h1 {
    font-size: 42px;
}

.hero h3 {
    font-size: 24px;
    margin-top: 32px;
}

.hero button {
    width: 82%;
    height: 40px;
    background-color: rgb(69, 69, 69);
    color: rgb(233, 233, 233);
    border: none;
    font-size: 15px;
    text-align: center;
    margin-top: 24px;
}

@media only screen and (max-width: 800px) {

    .hero-image {
        width: 100%;
    }

    .hero-content {
        flex-direction: column;
        padding: 0;
        padding-bottom: 32px;
        justify-content: center;
    }

    .hero-text {
        width: 95%;
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero button {
        width: 100%;
    }
}

.main {
    max-width: 100%;
}

.main-content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    padding: 16px 24px;
}

.main-left {
    padding: 16px 0;
    width: 60%;   
}

.main-left h2 {
    font-size: 32px;
    margin-top: 32px;
}

.main-left p {
    margin-top: 24px;
}

.author {
    color: black;
    margin-top: 32px; 
}

.main-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.main-content-right {
    display: flex;
    align-items: center;
    padding: 16px;
}

.main-content-right-image {
   width: 35%; 
}

.main-content-right-text {
    width: 65%;
    padding-left: 32px;
}

.main-content-right-text h4 {
    font-size: 24px;
}

.main-content-right-text p {
    margin-top: 8px;
}

.main-content-right-text a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: rgb(83, 175, 255);
}

.grijs {
    background-color: rgb(233, 233, 233);
}

/*
Main content mobile
*/
@media only screen and (max-width: 800px) {
    .main-left {
        display: none;
    }

    .main-right {
        width: 100%;
        padding: 0;
    }
}
