* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
    color: rgb(69, 69, 69);
}

header {
    max-width: 100%;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colmar-logo {
    display: flex;
    align-items: center;
}

.colmar-img{
    height: 32px;
}

header span {
    color: rgb(142, 142, 142);
    font-size: 20px;
    font-weight: 400;
}

header span strong {
    color: rgb(40, 40, 40);
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 16px;
}

nav a {
    text-decoration: none;
}

/*
Header icons are hidden in desktop view
*/
@media only screen and (min-width: 800px) {
    .icon {
        display: none;
    }
}

/*
Header on mobile devices
*/
@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }

    header span, nav {
        display: none;
    }
}

.hero {
    max-width: 100%;
    background-color: rgb(233, 233, 233);
}

.hero-content {
    margin: 0 auto;
    padding: 32px 24px;
    display: flex;
    max-width: 1200px;
    align-items: center;
}

.hero-image {
      max-width: 60%;
}

.hero-image img {
    max-width: 100%;
}

.hero-text {
    padding-left: 24px;
}

.hero h1 {
    font-size: 42px;
}

.hero h3 {
    font-size: 24px;
    margin-top: 32px;
}

.hero button {
    width: 82%;
    height: 40px;
    background-color: rgb(69, 69, 69);
    color: rgb(233, 233, 233);
    border: none;
    font-size: 15px;
    text-align: center;
    margin-top: 24px;
}

@media only screen and (max-width: 800px) {

    .hero-image {
        max-width: 100%;
    }

    .hero-content {
        flex-direction: column;
        padding: 0;
        padding-bottom: 32px;
    }

    .hero-text {
        padding-top: 32px;
    }

}